*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', serif;
}

body, html{
    height: 100%;
}

.textone{
    font-family: 'Alegreya', cursive;
}

#para_one_header{
    color: #800202;
    font-size: 160px;
}

.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_one{
    background-image: url('/IMG/spartans.jpg');
}

#para_two{
    background-image: url('/IMG/pillars.jpg');
}

#para_three{
    background-image: url('/IMG/theatre.jpg');
}

#para_four{
    background-image: url('/IMG/goat.jpg');
}

#para_five{
    background-image: url('/IMG/field.jpg');
}

.navbar_container{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

/* prevent dropdown from pushing content down */
.navbar-nav{
    position: absolute;
}

/* diminish lag when toggling dropdown */
.collapsing{
    transition: none;
}

/* add negative margin for muted text under each title */
.title_text{
    margin: -14px;
}

.jumbotron{
    height: 100%;
}

.title_text{
    color: #800202;
}

/* large circle button */
.btn-circle.btn-xl{
    width: 70px;
    height: 70px;
    padding: 20px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

/* medium circle button for toggler */
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

.fa-chevron-down{
    color: #ffffff;
}